@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..400&display=swap');

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/Users/seth.gunnells/Library/Fonts/Fantasque Sans Mono Regular Nerd Font Complete.ttf')
}

pre, code, pre *, code * {
  font-family: 'Fantasque Sans Mono';
}
